*,
* ::before,
* ::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --font-size: 62.5%;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: Inter, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
}

/* Reseteos */

.image__desktop {
  display: none;
}

.links {
  display: none;
}

/* Header */

.header {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--Off-white);
  padding: 3rem 2rem;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 5rem;
}

.menu {
  width: 4rem;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--Off-white);
}

/* content-1 */

.content__news {
  width: 100%;
  padding: 0 2rem;
  background-color: var(--Off-white);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* section-information */

.section__information {
  width: 100%;
}

.box__information {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.title__information {
  font-weight: 800;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.text__information {
  font-size: 1.5rem;
  color: var(--Dark-grayish-blue);
  line-height: 2.2rem;
  margin-bottom: 2.5rem;
}

.button__information {
  background-color: var(--Soft-red);
  color: var(--Off-white);
  padding: 1.5rem 2rem;
  letter-spacing: 5px;
  font-size: 1.4rem;
  font-weight: 800;
  cursor: pointer;
}

.button__information:active {
  transform: scale(0.99);
}

/* section-new */

.section__new {
  width: 100%;
  padding: 2rem;
  background-color: var(--Very-dark-blue);
}

.box__new {
  border-bottom: 1px solid var(--Off-white);
}

.title__new {
  color: var(--Soft-orange);
  font-weight: 800;
  font-size: 3rem;
}

.subtitle__new {
  color: var(--Off-white);
  font-weight: 700;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.text__new {
  color: var(--Grayish-blue);
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.text__new__nomargin {
  margin-bottom: 0;
}

/* content-2 */

.content__list__new {
  width: 100%;
  padding: 5rem 2rem;
  display: grid;
  gap: 4rem;
}

.img__list__new {
  width: 100px;
}

.box__list__new {
  width: 100%;
  display: flex;
  gap: 2rem;
  background-color: var(--Off-white);
}

.number__list__new {
  color: var(--Grayish-blue);
  font-weight: 700;
  font-size: 2.7rem;
  margin-bottom: 1rem;
}

.subtitle__list__new {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text__list__new {
  font-size: 1.4rem;
  color: var(--Dark-grayish-blue);
  line-height: 2.3rem;
}

/* mediaqueries */

@media (min-width: 730px) {
  .image__mobile {
    display: none;
  }

  .image__desktop {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .links {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  a {
    color: var(--Dark-grayish-blue);
    cursor: pointer;
    font-size: 1.3rem;
  }

  .menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .content__news {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  .section__information {
    width: 70%;
  }

  .section__new {
    width: 30%;
  }

  .box__information {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  .box__information__desktop {
    width: 50%;
  }

  .title__information {
    font-size: 5.5rem;
    line-height: 5.2rem;
  }

  .content__list__new {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
